<!DOCTYPE html>
<html>
  <head>
    <title>UnderWay</title>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body id="rails-body">
  <!-- <div id='rails-body' class="black-and-white"></div> -->
    <script src="//widget.cloudinary.com/global/all.js" type="text/javascript">
    </script>

    <script type="text/javascript">
      window.CLOUDINARY_OPTIONS = {
        cloud_name: "<%= ENV["cloudinary_api_name"]%>",
        upload_preset: "<%= ENV['cloudinary_upload_preset'] %>",
        cropping: 'server',
        cropping_aspect_ratio: "1.77"
      };
    </script>

    <%= yield %>

  </body>
</html>
